@size: 200px;
@dropSize: 15px;
@color: #ff4365;
@color2: #ff5d7a;
@dropColor: #ff2a50;
@white: #fff;
@black: #030301;
@radicalred: #ff4365;

body {
  background: @black;
  color: @white;

  h1,
  p {
    color: @white;
  }
  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  ul {
    list-style-type: none;
    font-size: 24px;
    line-height: 1.6;
  }

  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: 0.25em;
  }
  select {
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
    background: none;
    color: @white;
    border: 0;
  }
  .select::before {
    content: "\25b2";
    position: absolute;
    color: @radicalred;
    background: @black;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }

  .center {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -@size / 2;
    margin-top: -@size / 2;

    #buzzer {
      .bigRedButton(@size, @dropSize, @color, @color2, @dropColor);
    }
  }
}

.bigRedButton(@size, @dropSize, @color, @color2, @dropColor) {
  width: @size;
  height: @size - @size / 10;
  line-height: @size;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 40px;
  background: @color;
  color: @white;
  user-select: none;
  outline: 0;
  border: 0;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, @color),
    color-stop(100%, @color2)
  );

  background-image: -moz-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, @color),
    color-stop(100%, @color2)
  );

  box-shadow: 0 @dropSize @dropColor;

  &:active,
  &:disabled {
    box-shadow: 0 0 @dropColor;
    .translate(0px, @dropSize);
    .transition( 0.1s all ease-out);
    outline: 0;
  }
}

.translate (@x, @y:0) {
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}
