body {
  background: #7d8cc4;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 0;
  margin: 0;
  transition: 0.35s all ease-in-out;
}
body h1,
body p {
  color: #ffffff;
}
body footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
body #inputContainer {
  margin: 16px;
  z-index: 333333;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
body #inputContainer input {
  width: 100%;
  padding: 0 5px;
  border: none;
  padding: 16px;
  font-size: 22px;
  outline: 0;
  box-shadow: none;
  border-radius: 8px;
}
body #inputContainer button {
  font-size: 48px;
  background: none;
  box-shadow: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  opacity: 0;
  margin: 16px;
  transition: 0.25s opacity ease;
}
body #welcome {
  margin: 16px;
  font-size: 22px;
  display: flex;
  align-items: center;
}
body #welcome img {
  border-radius: 50%;
  height: 62px;
  width: 62px;
  margin: 0 16px;
}
body ul {
  list-style-type: none;
  font-size: 24px;
  line-height: 1.6;
}
body .select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}
body select {
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  background: none;
  color: #ffffff;
  border: 0;
}
body .select::before {
  content: "\25b2";
  position: absolute;
  color: #ff4365;
  background: #030301;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
body .center {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .center p {
  margin: 40px 0;
}
body .center #buzzer {
  width: 200px;
  height: 180px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 40px;
  background: #ff4365;
  color: #ffffff;
  user-select: none;
  outline: 0;
  border: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ff4365),
    color-stop(100%, #ff5d7a)
  );
  background-image: -moz-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ff4365),
    color-stop(100%, #ff5d7a)
  );
  box-shadow: 0 15px #ff2a50;
}
body .center #buzzer:active,
body .center #buzzer:disabled {
  box-shadow: 0 0 #ff2a50;
  -webkit-transform: translate(0px, 15px);
  -moz-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  -o-transform: translate(0px, 15px);
  -webkit-transition: 0.1s all ease-out;
  -moz-transition: 0.1s all ease-out;
  -ms-transition: 0.1s all ease-out;
  -o-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
  outline: 0;
}
