html
  head
    title= `Admin - Let's buzz`
    script(src='https://unpkg.com/tone')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    style
      include ../styles.css
  body
    ul#playerScores
    div.center
      button(id='buzzer' onclick='buzz()')
    script.
      const socket = io();

      const state = {
        playerScores: [],
      };

      const render = {
        scores: () => {
          const scoreTable = document.getElementById("playerScores");
          scoreTable.innerHTML = "";
          for (const [i, player] of state.playerScores.entries()) {
            const li = document.createElement("li");

            li.appendChild(
              document.createTextNode(
                `${i === 0 ? "👑 " : ""} ${Object.keys(player)[0]} : ${
                  Object.values(player)[0] + " ms"
                }`
              )
            );
            scoreTable.appendChild(li);
          }
        },
      };

      // Update the scores
      socket.on("updateScores", (playerScores) => {
        state.playerScores = playerScores;
        render.scores();
      });

      function buzz() {
        socket.emit("unlock");
        playSound();
      }

      function playSound() {
        var synth = new Tone.Synth().toMaster();
        synth.triggerAttackRelease("C4", "8n");
      }

      window.state = state;
